<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{$title}</title>

	<link href="/static/css/boot/bootstrap.min.css" rel="stylesheet">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
	<link href="/static/css/user/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="/static/css/user/base.css" rel="stylesheet" type="text/css">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
	<link rel="apple-touch-icon-precomposed" href="">
	<link rel="shortcut icon" href="">
	<script src="/static/js/jquery-1.9.1.min.js"></script>
	<!--[if lt IE 9]>
	<script src="/static/js/html5.js"></script>
	<script type="text/javascript" src="/static/js/selectivizr-min.js"></script>
	<![endif]-->
	<!--[if lt IE 7]>
	<script src="/static/js/minmax.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/static/js/picobox.js"></script>
	<script type="text/javascript" src="/static/js/picobox_beauty.js"></script>
	<link rel="stylesheet" href="/static/css/user/picobox.css" type="text/css"  />
	<link rel="stylesheet" href="/static/css/user/picobox_beauty.css" type="text/css"  />
	<script language="javascript">
        function doCheck(ischecked) {
            $('input.mch').each(function(i){
                this.checked = ischecked;
            });
        }
        function getChecked() {
            var ids = '';
            $('input.mch').each(function(i){
                if (this.checked) {
                    ids += this.value + ',';
                }
            });
            if (ids != '') {
                ids = ids.substr(0, ids.length-1);
            }
            return ids;
        }
        function confirmDel() {
            var ids = getChecked();
            if (ids.length == '') {
                alert('请选择要删除的记录。');
                return false;
            }
            if (!confirm('真的要删除选中的记录吗？')) {
                return false;
            }
            return true;
        }

	</script>
</head>
<body>
<div class="header">
	<div class="header-inner">
		<div class="user-info">
			<div class="user-avatar">
      					<span class="pie" title="">
      						<a href="#">
      							<img src="{$_SESSION['icon']}" alt="" class="pie">
      						</a>
      					</span>
			</div>
			<h2 class="user-name">{$_SESSION['name']} &nbsp;<a href="{:url('index/index/Log_out')}" style='color:#666'>退出</a></h2>
			<p id="prompt-msg"><script type="text/javascript">document.write(welcomeText("blogbus_KyeB0474"))</script></p>
		</div>
		<div class="utilities">
			<ul>
				<li class="dashboard"><a href="{:url('/User')}"><span class="pie icon"><span class="pie indicator" id="msgcount">0</span></span>管理中心</a></li>
				<li class="new-entry"><a href="{:url('index/blog/newblog')}"><span class="pie icon"></span>新日志</a></li>
				<li class="blog-list"><a href="{:url('index/blog/index')}"><span class="pie icon"></span>博客</a></li>
				<li class="album-list"><a href="{:url('/Album')}"><span class="pie icon"></span>相册</a></li>
				<li class="friend-list"><a href="{:url('/Friend')}"><span class="pie icon"></span>好友</a></li>
				<li class="events"><a href="{:url('/activity')}"><span class="pie icon"></span>活动</a></li>
				<li class="vip"><a href="{:url('index/vip/index')}"><span class="pie icon"></span>VIP</a></li>
				<li class="home"><a href="{:url('/index')}"><span class="pie icon"></span>首页</a></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
    (function (){
        $('#allSubMenus').css('display','none');
        var _menuEff={};
        _menuEff.cur=null;
        function switchMenu(id) {
            var menu_html = (_menuEff.cur.hasClass('menuBlogClass') && id=='menuBlog' && menu) ? menu : $('#allSubMenus #'+id).html();
            $('#appSubMenuBlock').html(menu_html).css('paddingLeft', $('#allSubMenus #'+id).css('paddingLeft'));
        }
        $('ul.menus li').hover(function(e){
                _menuEff.cur=_menuEff.cur||$('ul.menus li.actived');
                $('ul.menus li').removeClass('actived');
                var id = 'menu'+this.className.match(/menu(\w+)Class/)[1];
                switchMenu(id);
                $(this).addClass('actived');
            },
            function(e){
                if (e.relatedTarget.tagName!='DIV') {
                    return;
                }
                if (_menuEff.cur && !$(e.relatedTarget).hasClass('subMenus')) {
                    $('ul.menus li').removeClass('actived');
                    _menuEff.cur.addClass('actived');
                    var id = _menuEff.cur[0].className.match(/(menu\w+)Class/)[1];
                    switchMenu(id);
                }
            });
        $('div.mainNavi').mouseout(function(e){
            if (_menuEff.cur && e.relatedTarget.id=='wrapper') {
                $('ul.menus li').removeClass('actived');
                _menuEff.cur.addClass('actived');
                var id = _menuEff.cur[0].className.match(/(menu\w+)Class/)[1];
                switchMenu(id);
            }
        });
    })();

</script>

<!--main start-->
<link rel="stylesheet" href="/static/css/file.css" type="text/css" />

<div class="nav">

	<div class="container">

		<ul>

			<li class="shangchuan"><a href="{:url('/Album/Album_Upload')}" class="pie">文件上传</a></li>

			<li class="guanli"><a href="{:url('/Album/index')}" class="pie">文件管理</a></li>

		</ul>

	</div>

</div>
{block name="album"}


<script type="text/javascript">
    $(document).ready(function() {
        $('a.submenuSetting').addClass('actived');
    });
</script>
<style type="text/css">
	.nav ul li.guanli a {
		background:#fff;
		color:#90c044;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		border-radius:5px 5px 0 0;
	}
	.content {padding-bottom:10px; }
	.upfile {
		margin: 0 10px;
	}
</style>
<div class="content">
	<div class="container">
		<div class="savespace">
<span class="total-space">
			<span class="used" style='width:1%'></span></span>
			<span style="color:#90c044;">0.04M/100M</span>
		</div>
		<form id="form1" name="NewFolderForm" method="post" action="{:url('/Album/Album_Category')}">
			<div class="upload-choose">图片集名称:
				<input type="text" name="name" class="textfield"  id="fdname" >
				<!--<input type="checkbox" name="FolderType"  value="1" id="fdtype"  style="margin-left:10px;">&nbsp;&nbsp;存放图片-->
				<input type="submit" class="upfile" value="创建图片集">
			</div>
		</form>

		<?php foreach ($category as $v):?>
		<div class="file-browse">
			<div class="file-col">
				<span><a href="{:url('/Album/Image_List?goryid='.$v['id'])}" title="文件夹: 用户:" target="_blank"><img src="/static/images/forder_type_img.gif" /></a></span>
				<br/>
				<span>
                        <a href="#" title="默认文件夹"><?php echo $v['name'];?></a>
                   </span>
				<br/>
				<span>
						 <a href="" class="edit">修改</a> |
                        <a href="{:url('/Album/Del_AlbumCategory?cid='.$v['id'])}">删除</a> </span>
			</div>
		</div>
		<?php endforeach;?>

		<div class="clear"></div>
	</div>
</div>
<!--<form method="post" action="#" name="folderForm" style="display:none;"><input name="REQUEST_METHOD" value="DELETE" type="hidden" /><input type="hidden" name="id"/></form>&lt;!&ndash; 帮助 &ndash;&gt;-->

<!--<script type="text/javascript">-->

<!--</script>-->

{/block}
<div id="footer" class="footer">
	<div class="utilityMenu">
		<a  href="#">媒体报道</a>&nbsp;|&nbsp;
		<a  href="#">关于我们</a>&nbsp;|&nbsp;
		<a  href="#">工作机会</a>&nbsp;|
		&nbsp;<a  href="#">相关法律</a>&nbsp;|
		&nbsp;<a  href="#">广告服务</a>&nbsp;|
		&nbsp;<a  href="#">申请博客</a>&nbsp;|&nbsp;
		<a  href="#">网站地图</a>&nbsp;|&nbsp;
		<a  href="#">合作伙伴</a>
	</div>
	<div class="copyright">&copy; 2002-2017 BlogBus.com, All Rights Reserved. 博客大巴  版权所有  沪ICP B2-20080056号 反馈意见</div>
</div>
<div class="ajaxInfo msg_success" style="display:none;" id="flashMessage">
	<div class="message"></div>
</div>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
</body>
</html>