{extend name="user/mange-msg" /}
{block name="main"}

<script type="text/javascript">
    $(document).ready(function() {
        //绑定所有input让其onmouseover自动focus
        $(':text,textarea').mouseover(function(){$(this).focus();});
    })
    $('li.menuIndexClass').addClass('actived');
    $('a.submenuPrivacy').addClass('actived');
</script>
<style type="text/css">
	.nav ul li.yingsi a {
		background:#fff;
		color:#90c044;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		border-radius:5px 5px 0 0;
	}
	.form-table span {margin:0 20px;}
	.content {padding-bottom: 10px;}
</style>
<div class="content">
	<div class="container">
		<h3>我的隐私设置</h3>
		<div class="pub-topline">
			<form action="{:url('/UserInfo/Mod_Secret')}" method="post">
				<table border="0" cellspacing="0" cellpadding="0" class="form-table">
					<tr>
						<td>拒绝加为好友：</td>
						<td><span><input type="radio" name="refuse_friend" value="1"  />不加好友</span></td>
						<td><span><input type="radio" name="refuse_friend" value="0" checked/>加好友</span></td>

					</tr>

				</table>
				<div class="buttoncenter pub_topline">
					<input type="submit" class="button" value="保存设置" >
				</div>
			</form>
		</div>
	</div>
</div>


{/block}